
body {
  /* display: flex;
  justify-content: center; */
  width: clamp(1000px, 100vw, 1500px);
  margin: auto;
}

.container{
  display: flex;
  flex-direction: column;

  background: color-mix(in srgb, var(--color-pokemonBlue) 80%, white);
  height: 100vh;

}

.body-container{
  flex: 1;
}

.cardSet {
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;

  max-width: 800px;
  margin: auto;
  border: 10px solid rgba(255, 255, 255, 0.848);
  border-radius: 50px;
  padding: 50px;

  perspective: 1000px;
}

.card {
justify-self: center;
height: calc(88px * 3);
width: calc(63px * 3);



transform-style: preserve-3d;
transition: transform 0.5s;
}

.card-face {
  position: absolute;
  backface-visibility: hidden;
  
  height: calc(88px * 3);
width: calc(63px * 3);
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.456);
border-radius: 5px;
border: 10px solid var(--color-pokemonYellow);
background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,117,190,1) 100%);
}

.card-front {
}

.card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(360deg);
}

.cardName{
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.card img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.header{
  background-color: rgb(189, 163, 163);
  height: 100px;
}

.footer {
  background-color: black;
  height: 50px;
}

@media (max-width: 768px) {
  .cardSet {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 480px) {
  .cardSet {
    grid-template-columns: repeat(1,1fr);
  }
}